* {
    padding: 0;
    margin: 0;
}

.center-box {
    background-color: rgb(25,12,126);
    min-height: 200px;
    width: auto;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center-item {
    background-color: rgb(249,227,184);
    min-height: 70px;
    width: 70px;
}

.dojo-bar {
    background-color: rgb(103,151,234);
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    margin: 20px;
    
}

h1, li {
    color: white;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70px;
    width: 90px;
}

a{
    color: white;
    text-decoration: none;
}

#list{
    list-style-type: none;
    display: inline-flex;
}